@charset "UTF-8";
h1{
    background-color: antiquewhite;
    height: 300px;
    width: 300px;

    border: 5px double blue;

    padding: 10px 20px;
   
    margin: 40px auto 40px auto ;
        
    outline: 2px dashed black
    
}
a:hover{
    text-transform:uppercase;
    color: black;

}
a{
    border-width: 2px;
    border-style: solid;
    border-color: brown;

}